body {
   font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
   font-size: 9pt;
   border: 0px;
   margin: 0px;
}
table {
   border-collapse: collapse;
}
th {
   font-size: 9pt;
   text-align: left;
   padding: 5pt;
   border-bottom: 1px solid;
   background-color: #FFFFFF;
}
td {
   font-size: 9pt;
   padding: 3pt;
}
td.sub1 {
   font-size: 9pt;
   padding: 3pt;
   padding-left: 15pt;
}
td.sub2 {
   font-size: 9pt;
   padding: 3pt;
   padding-left: 30pt;
}
td.big {
   font-size: 9pt;
   padding-right: 50px;
}
tr:nth-child(odd) {
   background-color: #F0F0F0;
}
button {
   font-size: 9pt;
   width: 60pt;
}
.show {
   font-size: 9pt;
   width: 160pt;
}
.verticalgap {
   margin-bottom: 1cm;
}
.contestTable {
   margin-left: 15px;
   width: 95%;
}
#navigation-header {
	display: flex;
	align-items: center;
	height: 40px;
	background-image: url("/cdsIcon.png");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-color: #222;
	background-position: 5px center;
	border-left: 0px;
	border-right: 0px;
	margin: 0px;
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
#navigation-cds {
   font-size: 13pt;
   font-weight: 500;
   color: white;
   margin-left: 42px;
   width: 100%;
}
#main {
   margin-top: 50px;
   margin-left: 10px;
}
#contest {
   background-color: #ece722;
   border-radius: 8px;
   padding: 9px;
   margin: 5px 5px 10px 0px;
}
#contest-started {
   background-color: #0ade18;
   border-radius: 8px;
   padding: 9px;
   margin: 5px 5px 10px 0px;
}
#contest-frozen {
   background-color: #15f2fb;
   border-radius: 8px;
   padding: 9px;
   margin: 5px 5px 10px 0px;
}
#contest-ended {
   background-color: #E9E9E9;
   border-radius: 8px;
   padding: 9px;
   margin: 5px 5px 10px 0px;
}
tr.trcontest {
   background-color: transparent;
}
#contest-title {
   font-size: 15pt;
   font-weight: 600;
   padding: 3px;
   background-color: transparent;
}
tr.contest-header {
   padding: 8px;
   background-color: transparent;
}
td.contest-header {
   font-size: 11pt;
   font-weight: 500;
}
.progressbar {
   border: 1px solid;
   border-color: #05790e
}
.progressval {
   background-color: #ece722;
   padding: 1px
}