{{ $stableRelease := index $.Site.Data.releases.stable }}
{{ $preRelease := index $.Site.Data.releases.prerelease }}
{{ $stableTool := index $stableRelease.downloads (.Get "toolname") }}
{{ $prerelaseTool := index $preRelease.downloads (.Get "toolname") }}

<h2>Download</h2>
<p>
    The latest stable {{ .Get "name" }} version is {{ $stableTool.version }}, released on {{ $stableRelease.date }}.
</p>
<p>
    <a class="btn btn-primary" href="{{ $stableTool.urls.zip }}"><i class="fas fa-download"></i> Download stable <i>{{ .Get "name" }}</i> (version {{ $stableTool.version }})</a>
</p>
<p>
    The latest prerelease {{ .Get "name" }} version is {{ $prerelaseTool.version }}, released on {{ $preRelease.date }}.
</p>
<p>
    <a class="btn btn-danger" href="{{ $prerelaseTool.urls.zip }}"><i class="fas fa-download"></i> Download prerelease <i>{{ .Get "name" }}</i> (version {{ $prerelaseTool.version }})</a>
</p>

<h2>Documentation</h2>

<p>
    The {{ .Get "name" }} documentation can also be downloaded.
</p>
<p>
    <a class="btn btn-secondary" href="/README.pdf"><i class="fas fa-file-pdf"></i> Download / view documentation (PDF format)</a>
</p>
