body {
    padding-top: 4.5rem;
    font-size: 0.8rem;
}

h1 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

.card-header {
    font-size: 1.0rem;
    font-weight: bold;
}

.card-body {
	padding: 0px;
}

.table {
    width: auto;
}

.table-fullwidth {
    width: 100%;
}

.footer {
    position: absolute;
    right: 1ex;
    margin-top: 1em;
}

.footer, .footer a {
    font-size: x-small;
    color: gray;
    text-align: right;
}

.pre-line {
    white-space: pre-line;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}