body {
	font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
	font-size: 10pt;
}
h1 {
	font-weight: bold;
	font-size: 32pt;
	font-style: italic;
	padding: 0px;
	margin: 0px;
	margin-top: 15pt;
	margin-bottom: 15pt;
}
h2 {
	font-weight: bold;
	font-size: 16pt;
	border-bottom: 1px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	padding: 0px;
	margin: 0px;
	margin-top: 20pt;
	margin-bottom: 10pt; 
}
table {
	margin-top: 0pt;
	margin-bottom: 25pt;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
div.head {
	font-weight: bold;
	font-size: 14pt;
}
div.tag {
	font-style: italic;
	font-size: 11pt;
	margin-top: 2pt;
	margin-bottom: 4pt;
}
td {
	font-size: 10pt;
	padding: 15pt;
}
