<server description="ICPC contest data server">
    <featureManager>
       <feature>pages-3.1</feature>
       <feature>jndi-1.0</feature>
       <feature>websocket-2.1</feature>
       <feature>appSecurity-5.0</feature>
       <feature>servlet-6.0</feature>
       <feature>cdi-4.0</feature>
    </featureManager>

    <!-- If you have root access, change port numbers to httpPort="80" httpsPort="443" -->
    <httpEndpoint host="*" httpPort="8080" httpsPort="8443" id="defaultHttpEndpoint">
       <tcpOptions soReuseAddr="true"/>
       <httpOptions ThrowIOEForInboundConnections="true"/>
    </httpEndpoint>

    <httpSession invalidationTimeout="8h" idReuse="true"/>

    <keyStore id="defaultKeyStore" password="{xor}FhwPHAswMDMs" />
    <!--<ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustDefaultCerts="true" />-->

    <jndiEntry jndiName="icpc.cds.config" value="${server.config.dir}/config"/>

    <webApplication id="CDS" location="CDS.war" name="CDS" contextRoot="/"/>
</server>